<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.tippeligaen">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TableActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.tippeligaen.MainActivity" />
        </activity>
        <activity android:name=".ClubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.tippeligaen.MainActivity" />
        </activity>
        <activity android:name=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.tippeligaen.MainActivity" />
        </activity>
        <activity android:name=".FixtureActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.tippeligaen.MainActivity" />
        </activity>
        <activity android:name=".CreateAccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.tippeligaen.LoginActivity" />
        </activity>
        <activity android:name=".ConfirmAccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.tippeligaen.CreateAccountActivity" />
        </activity>
    </application>

</manifest>